<div class="panel panel-default">
  <div class="panel-heading">
    <span><% if @room.Instant? %><i class="fa fa-bolt" style="color: #ffb400"></i> <% end %> $<%= @room.price %></span>
    <span class="pull-right">Per Night</span>
  </div>
  <div class="panel-body">
    <%= form_for([@room, @room.reservations.new]) do |f| %>
        <div class="row">
          <div class="col-md-6">
            <label>Check In</label>
            <%= f.text_field :start_date, readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
          </div>
          <div class="col-md-6">
            <label>Check Out</label>
            <%= f.text_field :end_date, readonly: true, placeholder: "End Date", class: "form-control datepicker", disabled: true %>
          </div>
        </div>

        <h4 class="message-alert text-center"><span id="message"></span></h4>
        <div id="preview" style="display: none">
          <table class="reservation-table">
            <tbody>
            <tr>
              <td>Price</td>
              <td class="text-right">$<%= @room.price %></td>
            </tr>
            <tr>
              <td>Night(s)</td>
              <td class="text-right">x <span id="reservation_nights"></span></td>
            </tr>
            <tr id="special_details">
              <td colspan="2" class="total">
                Specials Price<br/>
                <ul id="special_list"></ul>
              </td>
            </tr>
            <tr>
              <td class="total">Total</td>
              <td class="text-right">$<span id="reservation_total"></span></td>
            </tr>
            </tbody>
          </table>
        </div>

        <br/>

        <% if @room.Instant? %>
            <%= f.submit "Book Now", id: "btn_book", class: "btn btn-normal btn-block", disabled: true %>
        <% else %>
            <%= f.submit "Request Now", id: "btn_book", class: "btn btn-normal btn-block", disabled: true %>
        <% end %>
    <% end %>
  </div>
</div>


<script>

  function checkDate(date) {
    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
    return [$.inArray(dmy, unavailableDates) == -1];
  }

  $(function() {

    unavailableDates = [];

    specialDates = [];

    function specialCheck() {

      var start_date = $('#reservation_start_date').datepicker('getDate');
      var end_date = $('#reservation_end_date').datepicker('getDate');
      var nights = (end_date - start_date)/1000/60/60/24 + 1

      var input = {
        'start_date': start_date,
        'end_date': end_date
      }

      $.ajax({
        url: '<%= preview_room_path(@room) %>',
        data: input,
        success: function (data) {

          if (data.conflict) {
            $('#message').text("These dates are not available");
            $('#preview').hide();
            $('#btn_book').attr('disabled', true);
          } else {
            $('#message').text("");
            $('#preview').show();
            $('#btn_book').attr('disabled', false);

            //----------- START NEW UPDATE

            $('#special_list').empty();
            var selectedDates = [];

            // Step 1: Create an array of selected dates
            while (start_date <= end_date) {
              selectedDates.push($.datepicker.formatDate('d-m-yy', new Date(start_date)));
              start_date.setDate(start_date.getDate() + 1);
            };

            // Step 2: Create an array of special dates
            var selectedSpecialDate = specialDates.filter(function(sDate){
              var d = $.datepicker.formatDate('d-m-yy',new Date(sDate.day));
              return selectedDates.indexOf(d) !== -1;
            });

            var total = (nights - selectedSpecialDate.length) * <%= @room.price %>;
            if (selectedSpecialDate.length > 0) {
              $('#special_details').show();

              selectedSpecialDate.map(function (date) {
                total += date.price;
                $('#special_list').append('<li class="text-right">('+ date.day + '): $' + date.price +'</li>')
              });
            } else {
              $('#special_details').hide();
            }

            //----------- END NEW UPDATE

            $('#reservation_nights').text(nights);
            $('#reservation_total').text(total);
          }
        }
      });
    }

    $.ajax({
      url: '<%= preload_room_path(@room) %>',
      dateTyp: 'json',
      success: function(data) {

        specialDates = data.special_dates;

        $.each(data.reservations, function(arrID, arrValue) {
          for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
            unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
          }
        });

        $.each(data.unavailable_dates, function (arrID, arrValue) {
          unavailableDates.push($.datepicker.formatDate('d-m-yy', new Date(arrValue.day)));
        });

        $('#reservation_start_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {
            $('#reservation_end_date').datepicker("option", "minDate", selected);
            $('#reservation_end_date').attr("disabled", false);
            specialCheck();
          }
        });

        $('#reservation_end_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {
            $('#reservation_start_date').datepicker("option", "maxDate", selected);
            specialCheck();
          }
        });
      }
    });

  });
</script>
