<!-- image -->
<div class="row">
  <div class="col-md-12">
    <%= image_tag @room.cover_photo(nil), width: "100%" %>
  </div>
</div>
<br>

<div class="row">
  <!-- left panel -->
  <div class="col-md-8">
    <!-- listing name -->
    <div class="row">
      <div class="col-md-8">
        <h1><%= @room.listing_name %></h1>
        <%= @room.address %>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag avatar_url(@room.user), class: "img-circle avatar-large" %><br><br>
        <%= @room.user.fullname %>
      </div>
    </div>
    <hr>

    <!-- room info -->
    <div class="row text-babu">
      <div class="row text-center row-space-1">
        <div class="col-md-3">
          <i class="fa fa-home fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-user-circle-o fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bed fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bath fa-2x"></i>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3"><%= @room.home_type %></div>
        <div class="col-md-3"><%= pluralize(@room.accommodate, "Guest") %></div>
        <div class="col-md-3"><%= pluralize(@room.bed_room, "Bedroom") %></div>
        <div class="col-md-3"><%= pluralize(@room.bath_room, "Bathroom") %></div>
      </div>
    </div>
    <hr>

    <!-- about -->
    <div class="row">
      <div class="col-md-12">
        <h3>About This Listing</h3>
        <p><%= @room.summary %></p>
      </div>
    </div>
    <hr>

    <!-- amenities -->
    <div class="row">
      <div class="col-md-3">
        <h4>Ammenities</h4>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_tv %>">TV</li>
              <li class="<%= 'text-line-through' if !@room.is_kitchen %>">Kitchen</li>
              <li class="<%= 'text-line-through' if !@room.is_internet %>">Internet</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_heating %>">Heaating</li>
              <li class="<%= 'text-line-through' if !@room.is_air %>">Air Conditioning</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <!-- carousel -->
    <div class="row">

      <% if @photos.length > 0 %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @photos.each do |photo| %>
              <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" ></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @photos.each do |photo| %>
              <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                <%= image_tag photo.image.url() %>
              </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
    </div>
    <hr>

    <!-- Review -->
    <div class="row">
      <div class="col-md-12">
        <h3>
          <%= pluralize(@guest_reviews.count, "Review") %>
          <span id="average_rating"></span>
        </h3>
        <div class="container">
          <div><%= render 'reviews/guest_list' %></div>
        </div>
      </div>
    </div>

    <!-- google map -->
    <div class="row">

      <div id="map" style="width: 100%; height: 400px;"></div>
      <script>
        function initialize() {
          const location = { lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
          const map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 14
          });

          const marker = new google.maps.Marker({
            position: location,
            map: map
          });

          const infoWindow = new google.maps.InfoWindow({
            content: '<div id="content"><%= image_tag @room.cover_photo(:medium) %></div>'
          });

          infoWindow.open(map, marker);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      </script>

    </div>
    <hr>

    <!-- near by room -->
    <div class="row">
      <h3>Near by</h3>
      <% for room in @room.nearbys(10) %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag room.cover_photo(:medium) %>
            </div>
            <div class="panel-body">
              <%= link_to room.listing_name, room %><br>
              (<%= room.distance.round(2) %> km away)
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <!-- right panel -->
  <div class="col-md-4">
    <!-- reservation form -->
    <%= render 'reservations/form' %>

  </div>
</div>

<script>
  $('#stars').raty({
    path: '/assets',
    readonly: true,
    score: <%= @room.average_rating %>,
  })
</script>
